<header class="docs-header-background">
    <div class="docs-header-section">
        <div class="docs-header-headline">
            <h1 class="mat-h1">Welcome to the Wheel of Fate</h1>
            <h2>Solution built using Angular 5 and .NET Core 2.0</h2>
        </div>
        <div class="docs-header-start">
            <a class="docs-button mat-raised-button" mat-raised-button="" routerlink="/wheel-of-fate" tabindex="0" aria-disabled="false"
                href="/wheel-of-fate">
                <span class="mat-button-wrapper">Run Wheel of Fate</span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </div>
    </div>
</header>
