mat-card {
    max-width: 60%;
    margin: 2em auto;
    /* text-align: center; */
}

label {
    display: inline-block;
    width: 180px;
    padding-bottom: 25px;
}

.error {
    color: red;
    margin-left: 10px;
}

.alignmiddle {
    vertical-align: middle;
}

.flexbox-container {
    display: inline-block;
    /*background-color: #FF4081;*/
    background-color: #3F51B5;
    color: white;
    border-radius: 15px;
    text-align: center;
    width: 175px;
    padding: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 0 0 20px 20px;
}

.container {
    font-size: small;
    text-transform: uppercase;
    background-color: white;
    color: black;
}
