<div style="padding: 20px 20%">
    <h2>Summary</h2>
    <p>Design and build the "Support Wheel of Fate"</p>

    <h2>Background</h2>
    <p>At one of our companies, all engineers take it in turn to support the business for half a day at a time. This is affectionately
        known as BAU.</p>
    <p>Currently, there is no tool which decides who is doing BAU and when, all rotas are created and maintained by hand.</p>

    <h2>Task</h2>
    <p>Your task is to design and build an online "Support Wheel of Fate". This should select two engineers at random to both
        complete a half day of support each. For the purposes of this task, you are free to assume that we have 10 engineers
        and only consider weekdays.
    </p>

    <h2>Business rules</h2>
    <p>There are some rules and these are liable to change in the future:</p>
    <ul>
        <li>An engineer can do at most one half day shift in a day</li>
        <li>An engineer cannot have half day shifts on consecutive days</li>
        <li>Each engineer should have completed one whole day of support in any 2 week period</li>
    </ul>

    <h2>Deliverables</h2>
    <p>At the end of the task, the following must be included:</p>
    <ul>
        <li>A lovely Presentation Layer (Front End) that must be hosted</li>
        <li>An API</li>
    </ul>

    <p>It is also important that you document your decisions as you will be expected to talk through your approach.</p>

    <h2>Rules</h2>
    <ul>
        <li>There is no time limit</li>
        <li>You are free to use the internet for research, inspiration and help</li>
        <li>The solution should be built using C#</li>
    </ul>
</div>
